{% extends 'base.html' %}
{% block content %}


<div class="grid-container">
<div class="slidecontainer">
    <p>Cecha1:</p>
    <input type="range" min="1" max="100" value="50" class="slider" id="myRange1" oninput="valueOutput.value = this.value">
    <output id="valueOutput">50</output>
  </div>
  <div class="slidecontainer">
    <p>Cecha2:</p>
    <input type="range" min="1" max="100" value="50" class="slider" id="myRange2" oninput="valueOutput2.value = this.value">
    <output id="valueOutput2">50</output>
  </div>
  <div class="slidecontainer">
    <p>Cecha3:</p>
    <input type="range" min="1" max="100" value="50" class="slider" id="myRange3" oninput="valueOutput3.value = this.value">
    <output id="valueOutput3">50</output>
  </div>
  <div class="slidecontainer">
    <p>Cecha4:</p>
    <input type="range" min="1" max="100" value="50" class="slider" id="myRange4" oninput="valueOutput4.value = this.value">
    <output id="valueOutput4">50</output>
  </div>
  <div class="slidecontainer">
    <p>Cecha5:</p>
    <input type="range" min="1" max="100" value="50" class="slider" id="myRange5" oninput="valueOutput5.value = this.value">
    <output id="valueOutput5">50</output>
  </div>
  <div class="slidecontainer">
    <p>Cecha6:</p>
    <input type="range" min="1" max="100" value="50" class="slider" id="myRange6" oninput="valueOutput6.value = this.value">
    <output id="valueOutput6">50</output>
  </div>
  <div class="slidecontainer">
    <p>Cecha7:</p>
    <input type="range" min="1" max="100" value="50" class="slider" id="myRange7" oninput="valueOutput7.value = this.value">
    <output id="valueOutput7">50</output>
  </div>
  <div class="slidecontainer">
    <p>Cecha8:</p>
    <input type="range" min="1" max="100" value="50" class="slider" id="myRange8" oninput="valueOutput8.value = this.value">
    <output id="valueOutput8">50</output>
  </div>
  <div class="slidecontainer">
    <p>Cecha9:</p>
    <input type="range" min="1" max="100" value="50" class="slider" id="myRange9" oninput="valueOutput9.value = this.value">
    <output id="valueOutput9">50</output>
  </div>
  <div class="slidecontainer">
    <p>Cecha10:</p>
    <input type="range" min="1" max="100" value="50" class="slider" id="myRange10" oninput="valueOutput10.value = this.value">
    <output id="valueOutput10">50</output>
  </div>
  
</div>
{% endblock %}