{% extends 'base.html' %}
{% block content %}

</head>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Playlistify</h1>
            <p>Kilka kliknięć by odetchnąć</p>
            <a href="preset" class="btn btn-primary btn-lg">Wybierz nastrój</a>
            <a href="custom" class="btn btn-primary btn-lg">Nastrój playlistę</a>
            <a href="custom1" class="btn btn-primary btn-lg">Nastrój playlistę java duzo</a>
        </div>
    </div>
</header>

{% endblock %}