{% extends 'base.html' %}

{% block content %}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Playlistify</h1>
            <p>Kilka kliknięć by odetchnąć</p>
            <a href="preset" class="btn btn-primary btn-lg">Smutna</a>
            <a href="custom" class="btn btn-2 btn-lg">Wesoła</a>
            <a href="preset" class="btn btn-3 btn-lg">Głodna</a>
            <a href="custom" class="btn btn-4 btn-lg">Wściekła</a>
            <a href="preset" class="btn btn-5 btn-lg">Wkurwiona</a>
            <a href="custom" class="btn btn-6 btn-lg">Pizza</a>
            <a href="preset" class="btn btn-7 btn-lg">Kebab</a>
            <a href="custom" class="btn btn-8 btn-lg">brat</a>
            <a href="preset" class="btn btn-9 btn-lg">party girl</a>
            <a href="custom" class="btn btn-10 btn-lg">bumpin that</a>
            <a href="preset" class="btn btn-11 btn-lg">addison</a>
            <a href="custom" class="btn btn-12 btn-lg">rae</a>
        </div>
    </div>
</header>
{% endblock %}