input {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #392034b4;
    color: white;
    text-align: center;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    max-width: 1200px;
    margin: auto;
  }

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url('images/bg.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px 70px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 50px;
    font-weight: 300;
}

header .header-content .header-content-inner p {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

	header .header-content .header-content-inner h1 {
    	font-size: 100px;
		}

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}
/* buttons */

.btn-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 15px; /
}

.btn-primary {
    border-color: rgb(125, 71, 187);
    color: #fff;
    width: 220;
    margin: 10px auto;
    padding: 10px 15px;
    display: inline-block;
    text-align: center;
    background-color: rgb(125, 71, 187);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all 1s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: rgb(74, 34, 119);
    color: #fff;
    background-color: rgb(80, 36, 131);
}

.sad {
    background-color: #2F2A44;
    border-color: #272237;
}

.sad:hover {
    background-color: #4d456d; 
    border-color: #3e3759;
}

.happy {
    background-color: #debd00;
    border-color: #c7a900;
}

.happy:hover {
    background-color: #9f8700;
    border-color: #957f00;
}

.chill {
    background-color: #A8DADC;
    border-color: #86b2b3;
}

.chill:hover {
    background-color: #83abad;
    border-color: #6a8b8c;
}


.party {
    background-color: #FF6347; 
    border-color: #e55347; 
}

.party:hover {
    background-color: #c73e0d; 
    border-color: #b13707;
}


.romance {
    background-color: #FFB6C1;
    border-color: #f7a3b0; 
}

.romance:hover {
    background-color: #ff9db4;
    border-color: #f68e9f; 
}


.angry {
    background-color: #D32F2F;
    border-color: #b32929;
}

.angry:hover {
    background-color: #5f1111; 
    border-color: #4c0c0c;
}


.dance {
    background-color: #FF1493;
    border-color: #e6008c;
}

.dance:hover {
    background-color: #d71c77;
    border-color: #960359; 
}


.rainy {
    background-color: #708090;
    border-color: #5f6c74; 
}

.rainy:hover {
    background-color: #475759; 
    border-color: #4e585e; 
}


.workout {
    background-color: #32CD32; 
    border-color: #2e8b57; 
}

.workout:hover {
    background-color: #2e8b57; 
    border-color: #256e3b; 
}
