{% extends 'base.html' %}
{% block content %}
</head>
<header>
    <div class="header-content">
<h1><span style="color: rgb(38, 5, 57)">Playlistify</span></h1>
<h1><span style="color: rgb(55, 6, 81)">Tune it</span></h1>
<form action="/create_playlist" method="POST">
    <label for="keywords">Keywords:</label><br>
    <input type="text" id="keywords" name="keywords" required><br><br>

    <label for="genre">Genre:</label><br>
    <input type="text" id="genre" name="genre"><br><br>

    <label for="length">Number of songs:</label><br>
    <p>20 if empty</p>
    <input type="number" id="length" name="length"><br><br> 

    <button type="submit" class="btn btn-primary btn-lg">Generate Playlist</button>
</form>
</div>
{% endblock %}
