{% extends 'base.html' %}

{% block content %}
<header>
    <div class="header-content">

            <h1><span style="color: rgb(38, 5, 57)">Playlistify</span></h1>
            <p>Just click it</p>

            <!-- Length form -->
            <form action="/use_preset" method="POST" >
                <label for="length">Amount of songs:</label><br>
                <input type="number" id="length" name="length">
                <p>20 if empty</p>
                <!-- Preset buttons -->
                <div class="btn-grid">
                
                <button type="submit" class="btn btn-primary btn-lg sad" name="preset" value="sad">Sad Songs</button>
                <button type="submit" class="btn btn-primary btn-lg happy" name="preset" value="happy">Happy Vibes</button>
                <button type="submit" class="btn btn-primary btn-lg chill" name="preset" value="chill">Chill Music</button>
                <button type="submit" class="btn btn-primary btn-lg party" name="preset" value="party">Party Time</button>
                <button type="submit" class="btn btn-primary btn-lg romance" name="preset" value="romance">Romantic Songs</button>
                <button type="submit" class="btn btn-primary btn-lg angry" name="preset" value="angry">Breaking Windows</button>
                <button type="submit" class="btn btn-primary btn-lg dance" name="preset" value="dance">Dance Fever</button>
                <button type="submit" class="btn btn-primary btn-lg rainy" name="preset" value="rainy">Rainy Day Vibes</button>
                <button type="submit" class="btn btn-primary btn-lg workout" name="preset" value="workout">Workout Bea(s)ts</button>
                </div>
            </form>
        </div>
</header>
{% endblock %}
