{% extends 'base.html' %}

{% block content %}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Playlistify</h1>
            <p>Kilka kliknięć by odetchnąć</p>
            <a href="preset" class="btn btn-primary btn-lg">Sad Songs</a>
            <a href="custom" class="btn btn-2 btn-lg">Happy Vibes</a>
            <a href="preset" class="btn btn-3 btn-lg">Chill Music</a>
            <a href="custom" class="btn btn-4 btn-lg">Party Time</a>
            <a href="preset" class="btn btn-5 btn-lg">Romantic Songs</a>
            <a href="preset" class="btn btn-5 btn-lg">Breaking Windows</a>
            <a href="preset" class="btn btn-5 btn-lg">Dance Fever</a>
            <a href="custom" class="btn btn-6 btn-lg">Rainy Day Vibes</a>
            <a href="preset" class="btn btn-7 btn-lg">Workout Bea(s)ts</a>
            <a href="custom" class="btn btn-8 btn-lg">Inner Child</a>
        </div>
    </div>
</header>
{% endblock %}